@import url("https://fonts.googleapis.com/css?family=Roboto:700");

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#time {
  font-size: 2rem;
  font-weight: bold;
}
